.tool-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.tool-icon {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 15px;
}

.tool-name-and-details {
    flex-grow: 1;
}

.tool-title {
    margin: 0;
    font-size: 24px;
}

.tool-version-dev {
    margin-top: 5px;
}

.tool-version, .tool-developer {
    font-size: 14px;
    color: #666;
}

.get-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e53e3e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Description styles */
#description-container {
    margin-top: 20px;
    padding: 10px;
}

.read-more-button {
    background-color: transparent;
    border: none;
    color: #e53e3e;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    margin-top: 10px;
}

/* Tool details styles */
.tool-details {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.tool-details div {
    margin-bottom: 10px;
}

/* Screenshots styles */
.screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.screenshots img {
    max-width: calc(33.333% - 10px);
    height: auto;
    border-radius: 10px;
}

/* Download links styles */
.download-links {
    margin-top: 20px;
}

.download-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f3f4f6;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.download-link:hover {
    background-color: #e2e8f0;
}

/* Utility classes */
.hidden {
    display: none;
}