{{ define "head" }}
    <link rel="stylesheet" href="/css/category.css?v={{ now.Unix }}">
{{ end }}

{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    {{ $category := .Title | lower }}
    <!-- Debug information -->
    
        {{ partial "category-jailbreak.html" . }}
    {{ else if eq $category "game" }}
        <p>Debug: Using game template</p>
        {{ partial "category-game.html" . }}
    {{ else }}
        <p>Debug: Using default template</p>
        <!-- Default list layout -->
        <ul>
            {{ range .Pages }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    {{ end }}
</main>
{{ end }}