{{ define "head" }}
    <link rel="stylesheet" href="/css/category.css?v={{ now.Unix }}">
{{ end }}

{{ define "main" }}
<main>
    <section class="category-posts">
        <h1>{{ .Title }}</h1>
        <ul>
            {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <p>{{ .Summary }}</p>
                </li>
            {{ else }}
                <p>Không có bài viết nào trong danh mục này.</p>
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}