{{ define "head" }}
    <link rel="stylesheet" href="/css/category.css?v={{ now.Unix }}">
{{ end }}

{{ define "main" }}
<main>
    <section class="categories">
        <h1>Các danh mục</h1>
        <ul>
            {{ range .Site.Taxonomies.categories }}
                {{ $term := . }}
                <li>
                    <!-- Liên kết đến trang danh mục -->
                    <a href="{{ (index $term.Pages 0).Permalink }}">{{ $term.Name }} ({{ len $term.Pages }})</a>
                </li>
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}