{{ define "head" }}
    <link rel="stylesheet" href="/css/category.css?v={{ now.Unix }}">
{{ end }}

{{ define "main" }}
<main>
    <section class="categories">
        <h1>Các danh mục</h1>
        <ul>
            {{ with .Site.Taxonomies.categories }}
                {{ range $name, $taxonomy := . }}
                    <li>
                        <a href="{{ (index $taxonomy.Pages 0).Permalink }}">{{ $name }} ({{ len $taxonomy.Pages }})</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}