{{ define "head" }}
    <link rel="stylesheet" href="/css/posts.css?v={{ now.Unix }}">
{{ end }}

{{ define "main" }}

<nav class="breadcrumb">
  <div class="breadcrumb-item"><a href="/">Home</a></div>
  <div class="breadcrumb-item"><a href="/posts">Folder</a></div>
  <div class="breadcrumb-item active"><span>Page</span></div>
</nav>

<div class="post-container">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      <span class="post-date"><i class="fa fa-clock"></i>{{ .Date.Format "02-01-2006 15:04" }}</span>
      <span class="post-author"><i class="fa fa-check-circle"></i>{{ .Params.author }}</span>
    </div>
  </header>

  {{ if .Params.thumbnail }}
  <div class="post-thumbnail">
    <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
  </div>
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>

  <footer class="post-footer">
    <div class="post-tags">
      {{ range .Params.tags }}
        <a href="/tags/{{ . | urlize }}" class="post-tag">{{ . }}</a>
      {{ end }}
    </div>
    <div class="post-share">
      <span>Share:</span>
      <a href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="social-icon facebook-icon" target="_blank"></a>
      <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}" class="social-icon twitter-icon" target="_blank"></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" class="social-icon linkedin-icon" target="_blank"></a>
    </div>
  </footer>
</div>

{{ end }}