{{ define "main" }}
<link rel="stylesheet" href="{{ "css/posts.css" | relURL }}">
<main class="container">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      <a href="/posts" class="back-to-posts">Trở về danh sách bài viết</a>
      <div class="author-info">
        <strong>{{ .Params.author }}</strong>
        {{ if .Params.author_icon }}
          <img src="{{ .Params.author_icon }}" alt="Icon" class="author-icon">
        {{ else }}
          <img src="/images/verify.png" alt="Default Icon" class="author-icon">
        {{ end }}
      </div>
      <p class="post-date">{{ .Params.date.Format "2 January 2006" }}</p>
      <p class="post-views">Lượt xem: {{ .Params.views }}</p>
    </div>
  </header>

  <article class="post-content">
    {{ .Content }}
  </article>

  <footer class="post-footer">
    <div class="social-share">
      <a href="https://twitter.com/share?url={{ .Permalink }}" target="_blank">Twitter</a>
      <a href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">Facebook</a>
      <!-- Add other social media links here -->
    </div>

    <h3>Bài viết cùng chuyên mục</h3>
    <ul class="related-posts">
      {{ range where .Site.RegularPages "Params.categories" "in" .Params.categories }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </footer>
</main>
{{ end }}