{{ define "head" }}
    <link rel="stylesheet" href="/css/posts.css?v={{ now.Unix }}">
{{ end }}

{{ define "main" }}
<article class="post-container">
    <nav class="breadcrumb">
        <a href="/">Trang chủ</a> &gt; 
        {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}">{{ . }}</a> &gt; 
        {{ end }}
        <span>{{ .Title }}</span>
    </nav>

    <header class="post-header">
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            <span class="post-date">
                <i class="fa fa-clock"></i> {{ .Date.Format "02-01-2006 15:04" }}
            </span>
            <span class="post-author">
                <i class="fa fa-check-circle"></i> {{ .Params.author }}
            </span>
        </div>
    </header>

    {{ if .Params.thumbnail }}
    <div class="post-thumbnail">
        <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
    </div>
    {{ end }}

    <section class="post-content">
        {{ .Content }}
    </section>

    <footer class="post-footer">
        <div class="post-tags">
            {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}" class="post-tag">{{ . }}</a>
            {{ end }}
        </div>
        <div class="post-share">
            <span>Chia sẻ:</span>
            <a href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="social-icon facebook-icon"></a>
            <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}" target="_blank" class="social-icon twitter-icon"></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" class="social-icon linkedin-icon"></a>
        </div>
    </footer>
</article>
{{ end }}