{{ define "head" }}
    <link rel="stylesheet" href="/css/jailbreak-tools.css">
{{ end }}

{{ define "main" }}
    <section class="tool-info">
        <img src="{{ .Params.icon }}" alt="{{ .Title }} Icon" class="tool-icon">
        <h2>Mô tả</h2>
        <p>{{ .Params.short_description }}</p>
        <h3>Mô tả chi tiết</h3>
        <div>{{ .Params.description | markdownify }}</div>

        <div class="tool-details">
            <div><strong>Nhà phát triển:</strong> {{ .Params.developer }}</div>
            <div><strong>Thể loại:</strong> {{ .Params.category }}</div>
            <div><strong>Kích thước:</strong> {{ .Params.size }}</div>
            <div><strong>iOS tương thích:</strong> {{ .Params.ios_version }}</div>
            <div><strong>Từ khóa:</strong> 
              <ul>
              {{ if .Params.keywords }}
                {{ range .Params.keywords }}
                    <li>{{ . }}</li>
                {{ end }}
            {{ else }}
                <li>Không có từ khóa</li>
            {{ end }}
        </ul></div>
            <div><strong>Status:</strong> <span class="{{ .Params.status | lower }}">{{ .Params.status }}</span></div>
        </div>

        <h3>Ảnh màn hình</h3>
        <div class="screenshots">
            {{ range .Params.screenshots }}
                <img src="{{ .image }}" alt="Screenshot">
            {{ end }}
        </div>
    </section>

    <section class="download-links">
        <h2>Liên kết tải xuống</h2>
        {{ range .Params.versions }}
            <a href="/intermediate/{{ .appId }}" class="download-link">{{ .version }}</a>
        {{ end }}
    </section>
{{ end }}