{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    
    <h2>Bài viết mới nhất</h2>
    <ul class="post-list">
        {{ range first 10 (where .Site.RegularPages "Type" "in" (slice "jailbreak-tools" )) }}
            <li class="post-item">
                <div class="post-icon">
                    <i class="fas fa-file-alt"></i>
                </div>
                <div class="post-content">
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <time>{{ .Date.Format "02-01-2006" }}</time>
                    <p>{{ .Summary }}</p>
                </div>
            </li>
        {{ end }}
    </ul>
</main>
{{ end }}