{{ define "head" }}
    <link rel="stylesheet" href="/css/jailbreak-tools.css?v={{ now.Unix }}">
{{ end }}

{{ define "main" }}
<main>
        <ul class="jailbreak-list">
            {{ range .Pages }}
            <li class="jailbreak-item">
                <img src="{{ .Params.icon }}" alt="{{ .Title }} icon" class="jailbreak-icon">
                <div class="jailbreak-info">
                    <h2>{{ .Title }}</h2>
                    <p class="developer">{{ .Params.developer }}</p>
                    <p class="compatibility">{{ .Params.ios_compatible }}</p>
                </div>
                <span class="version">{{ .Params.main_download.version }}</span>
            </li>
            {{ end }}
        </ul>
    </main>
{{ end }}