{{ define "head" }}
    <link rel="stylesheet" href="/css/jailbreak-tools.css?v={{ now.Unix }}">
{{ end }}
{{ define "main" }}
<main role="main">
    <section class="tool-info">
        <div class="tool-header">
            <img src="{{ .Params.icon }}" alt="{{ .Title }} Icon" class="tool-icon">
            <div class="tool-name-and-details">
                <h1 class="tool-title">{{ .Title }}</h1>
                <div class="tool-version-dev">
                    <span class="tool-version">{{ .Params.main_download.version }}</span>
                    <span class="tool-developer">{{ with .Params.developer }}{{ . }}{{ else }}Không có thông tin{{ end }}</span>
                </div>
            </div>
            {{ if .Params.main_download }}
            <a href="/download?appId={{ .Params.main_download.appId }}" class="get-button" target="_blank">GET</a>
            {{ end }}
        </div>
        <h3>Mô tả</h3>
        <div id="description-container">
    {{ $description := .Params.description | markdownify }}
    {{ $words := split $description " " }}
    {{ if gt (len $words) 50 }}
        <div id="short-description">
            {{ delimit (first 50 $words) " " | safeHTML }}
            <span id="ellipsis">...</span>
            <button id="toggle-description" onclick="toggleDescription()">Xem thêm</button>
        </div>
        <div id="full-description" class="hidden">
            {{ $description | safeHTML }}
            <button id="toggle-description" onclick="toggleDescription()">Thu gọn</button>
        </div>
    {{ else }}
        <div id="full-description">
            {{ $description | safeHTML }}
        </div>
    {{ end }}
</div>

        <h3>Ảnh màn hình</h3>
          <div class="screenshots">
            {{ if .Params.screenshots }}
                {{ range .Params.screenshots }}
                    <img src="{{ . }}" alt="Screenshot">
                {{ end }}
            {{ else }}
                <p>Không có ảnh màn hình.</p>
            {{ end }}
        </div>
      <h3>Thông tin</h3>
        <div class="tool-details">
            <div><strong>Nhà phát triển:</strong> {{ with .Params.developer }}{{ . }}{{ else }}Không có thông tin{{ end }}</div>
            <div><strong>Thể loại:</strong> {{ with .Params.category }}{{ . }}{{ else }}Không có thông tin{{ end }}</div>
            <div><strong>Kích thước:</strong> {{ with .Params.size }}{{ . }}{{ else }}Không có thông tin{{ end }}</div>
            <div><strong>iOS tương thích:</strong> {{ with .Params.ios_compatible }}{{ . }}{{ else }}Không có thông tin{{ end }}</div>
            <div><strong>Từ khóa:</strong> {{ if .Params.keywords }}{{ delimit .Params.keywords ", " }}{{ else }}Không có từ khóa{{ end }}</div>
        </div>
        
    </section>
    {{ if .Params.other_versions }}
    <section class="download-links">
        <h2>Các phiên bản khác</h2>
        {{ range .Params.other_versions }}
            <a href="/download?appId={{ .appId }}" class="download-link" target="_blank">{{ .version }}</a>
        {{ end }}
    </section>
    {{ end }}
</main>
<script>
    function toggleDescription() {
        var shortDesc = document.getElementById('short-description');
        var fullDesc = document.getElementById('full-description');
        var toggleButton = document.getElementById('toggle-description');
        
        if (shortDesc.style.display === 'none') {
            shortDesc.style.display = 'block';
            fullDesc.style.display = 'none';
            toggleButton.textContent = 'Xem thêm';
        } else {
            shortDesc.style.display = 'none';
            fullDesc.style.display = 'block';
            toggleButton.textContent = 'Thu gọn';
        }
    }
</script>
{{ end }}