body {
  overflow-x: hidden !important;
}

#nc-root {
  overflow-x: hidden !important;
}

.css-v758ki-AppMainContainer, 
.css-12b66la-AppHeaderContent,
.css-1f7nhiq-CollectionMain, 
.css-1hvrgvd-CollectionTopContainer-card-cardTop,
.css-1iuyhru-ToolbarSectionMain-toolbarSection,
.css-gi30n0-ListContainer,
.css-2hn8sl-EntityListContainer,
.css-1j4eopf-Container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.css-1f3mf5k-StyledModal {
  max-width: 90vw !important;
  left: 5vw !important;
  right: 5vw !important;
}

.css-1p1l8gq-StyledModal {
  display: none !important;