<div class="section">
    <h2 class="section-title">
        Tool Jailbreak
        <span id="status" class="status">
            <span id="status-icon" class="status-icon"></span>
            <span id="status-text">Loading...</span>
        </span>
    </h2>
    <div class="app-list">
        {{ range .Pages }}
            <div class="app-item">
                <a href="{{ .Permalink }}" class="app-link">
                    <img src="{{ .Params.Icon }}" alt="{{ .Title }}" class="app-icon">
                    <div class="app-item-content">
                        <h3 class="app-title">{{ .Title }}</h3>
                        <p class="app-developer">{{ .Params.Developer }}</p>
                    </div>
                </a>
                <div class="app-meta">
                    <a href="{{ .Permalink }}" class="download-btn">Tải</a>
                    <span class="app-version"><i class="fas fa-arrow-up"></i> {{ .Params.main_download.version }}</span>
                </div>
            </div>
        {{ end }} 
    </div>
</div>