{{ define "main" }}
<main class="container">
    <h1>Ứng dụng nổi bật</h1>
    <div class="app-list">
        {{ range first 10 (where .Site.RegularPages "Type" "in" (slice "apps")) }}
            <div class="app-item">
                <a href="{{ .Permalink }}" class="app-link">
                    <img src="{{ .Params.Icon }}" alt="{{ .Title }}" class="app-icon">
                    <div class="app-item-content">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Params.Developer }}</p>
                    </div>
                </a>
                <div class="app-meta">
                    <a href="{{ .Permalink }}" class="download-btn">Tải</a>
                    <span class="app-version"><i class="fas fa-arrow-up"></i> {{ .Params.Version }}</span>
                </div>
            </div>
        {{ end }}
    </div>
    <!-- Google AdSense -->
    <div class="ad-container">
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3905625903416797"
             data-ad-slot="5160182988"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
    </div>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</main>
{{ end }}