{{ define "main" }}
<main class="container">
    <h1>Ứng dụng nổi bật</h1>
    <div class="app-list">
        {{ range first 10 (where .Site.RegularPages "Type" "in" (slice "apps")) }}
            <div class="app-item">
                <a href="{{ .Permalink }}" class="app-link">
                    <img src="{{ .Params.Icon }}" alt="{{ .Title }}" class="app-icon">
                    <div class="app-item-content">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Params.Developer }}</p>
                    </div>
                </a>
                <div class="app-meta">
                    <a href="{{ .Permalink }}" class="download-btn">Tải</a>
                    <span class="app-version"><i class="fas fa-arrow-up"></i> {{ .Params.Version }}</span>
                </div>
            </div>
        {{ end }}
    </div>

  <h1>Tool Jailbreak</h1>
    <div class="app-list">
        {{ range first 10 (where .Site.RegularPages "Type" "in" (slice "jailbreak-tools")) }}
            <div class="app-item">
                <a href="{{ .Permalink }}" class="app-link">
                    <img src="{{ .Params.Icon }}" alt="{{ .Title }}" class="app-icon">
                    <div class="app-item-content">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Params.Developer }}</p>
                    </div>
                </a>
                <div class="app-meta">
                    <a href="{{ .Permalink }}" class="download-btn">Tải</a>
                    <span class="app-version"><i class="fas fa-arrow-up"></i> {{ .Params.Ios-compatible }}</span>
                </div>
            </div>
        {{ end }}
    </div>

    <h1>Bài viết mới nhất</h1>
    <div class="post-list">
        {{ range first 10 (where .Site.RegularPages "Type" "in" (slice "posts")) }}
            <div class="post-item">
                <a href="{{ .Permalink }}" class="post-link">
                    <img src="{{ .Params.FeaturedImage }}" alt="{{ .Title }}" class="post-image">
                    <div class="post-item-content">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                    </div>
                </a>
                <div class="post-meta">
                    <span class="post-date">{{ .Date.Format "02-01-2006" }}</span>
                    <span class="post-author">{{ .Params.Author }}</span>
                </div>
            </div>
        {{ end }}
    </div>

    <!-- Google AdSense -->
    <div class="ad-container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3905625903416797"
             crossorigin="anonymous"></script>
        <!-- Storeios ads -->
        <ins class="adsbygoogle"
             style="display:block;width:300px;height:250px"
             data-ad-client="ca-pub-3905625903416797"
             data-ad-slot="5160182988"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</main>
{{ end }}