html{
  box-sizing: border-box;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,-apple-system-font,Helvetica Neue;
}

*,:after,:before{
  box-sizing: inherit;
}

body{
  margin: 0px;
  padding: 0px;
  line-height: 1.6;
  background: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0,0,0, 0);
}

ttp{
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0px;
}

bold{
  font-weight: 550;
}

red{
  color: #E50000;
}

blue{
  color: #1991D3;
}

green{
  color: #018A01;
}

p{
  text-align: center;
}

h2{
  font-size: 16px;
  text-align: center;
  filter: drop-shadow(0px 2px 4px #00000088);
}

panel-body{
  margin: 0px;
  width: auto;
  color: #181818;
  display: block;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px 20px;
}

.modern{
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
}

main{
  margin: auto;
  flex-wrap: wrap;
  overflow: inherit;
  padding-top: 0px;
  background-color: none;
}

panel-header{
  margin: 0px;
  font-size: 22px;
  padding-left: 0px;
  padding-top: 0px;
}

.information>tbody{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  flex-direction: unset;
  -webkit-box-pack: end;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -webkit-box-align: baseline;
}

.information>tbody>tr{
  display: flex;
  width: 45%;
  height: 100%;
  border: none;
  padding: 5px;
  flex-shrink: 2;
  flex-basis: fill;
  max-width: 50%;
  text-align: left;
  justify-content: end;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-box-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.information>tbody>tr>td:first-child{
  margin: 0px;
  color: #888888;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0,0,0, 0);
}

.information>tbody>tr>td:nth-child(2){
  color: #000000;
  text-align: left;
  font-size: 16px;
  padding-top: 0;
  font-weight: 600;
  padding-bottom: 0px;
  margin: .425rem 0px 0.625rem;
}

img{
  max-width: 100%;
  height: auto;
}

.screenshot-viewer a{
  width: auto;
  height: 290px;
  display: block;
}

.screenshot-viewer{
  width: auto;
  height: 50%;
  display: block;
  list-style: none;
  overflow-x: auto;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.screenshot-viewer>li{
  padding: 0;
  margin: 0 7px;
  font-size: 13px;
  display: inline-block;
  vertical-align: bottom;
}

.screenshot-viewer>li:first-child{
  margin-left: 0px;
}

.screenshot-viewer>li:last-child{
  margin-right: 0px;
}

.screenshot-viewer>li img{
  margin: 0px;
  width: auto;
  overflow: hidden;
  border: 3px solid #666666;
  border-radius: 16px!important;
  box-shadow: 0px 2px 4px rgba(0,0,0, 0);
  z-index: 1;
}

.screenshot-viewer img{
  width: auto;
  height: 82%;
  Aoverflow: hidden;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-reflect: below 0em -webkit-gradient(linear,left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(0,0,0, 0.3)));
}