name: Hugo Build and Deploy
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
          
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
        
      - name: Install dependencies
        run: |
          npm install
          npm install faunadb
    
      - name: Clear Hugo Cache and Public Folder
        run: |
          rm -rf public
          rm -rf .hugo_cache
    
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true
    
      - name: Build Hugo Site
        run: hugo --gc --minify --logLevel info
    
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0
        with:
          publish-dir: './public'
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: false
          enable-commit-comment: false
          overwrites-pull-request-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_CLEAR_CACHE: 'true'
        timeout-minutes: 10
    
      - name: Install Wrangler
        run: npm install -g wrangler

      - name: Deploy Worker
        run: |
          cd ipa-downloader
          ls -R
          wrangler deploy
        env:
          CF_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
