
		a,a:hover{
			color:#2CB1BE;
			text-decoration:none;
			transition:0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
			}
			a:active,a:hover:active{
				opacity:0.7
				}
				#content{
					min-height:100vh;
					min-height:calc(100vh - 70px)
					}
					.page{
						padding:40px 20px
						}
						.page.article{
							max-width:800px
							}
							.error{
								max-width:600px;
								text-align:center;
								padding:40px
								}
								.error h1{
									font-weight:600;
									margin-bottom:20px
									}
									.error p{
										color:#777
										}
										.muted-heading{
											color:#999;
											text-transform:uppercase;
											font-weight:700;
											font-size:13px;
											letter-spacing:0.5px;
											margin-bottom:4px
											}
											.header2{
												position:fixed;
												top:0;
												width:75px;
												z-index:100;
												background:#fff
												}
												.header2.scrolls2{
													padding:50px 0;
													background:none;
													width:75px;
													-webkit-backdrop-filter:blur(0);
													backdrop-filter:blur(0);
													transition:0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
													}
													
														@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none){
															.header2.scrolls2.scrolled2{
																background:rgba(44,177,190,0.9);
																-webkit-backdrop-filter:blur(10px) saturate(3);
																backdrop-filter:blur(10px) saturate(3)
																}}
																.header2.scrolls2.scrolled2>div a{
																	color:#fff !important
																	}
																	.header2>div{
																		margin:0 auto;text-align:center;
																		align-items:center;
																		justify-items:center;
																		white-space:nowrap
																		}
																		.header2>div a,.header2>div .icon-nav{
																			display:inline-block;
																			vertical-align:middle;
																			padding:8px 10px;
																			color:#919196;
																			font-weight:500;
																			text-decoration:none;
																			text-transform:uppercase;
																			border-radius:10px;
																			transition:0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
																			}
																			.header2>div a:hover,.header2>div .icon-nav:hover{
																				opacity:0.7
																				}
																				@media (min-width: 375px){
																					.header2>div a,.header2>div .icon-nav{
																						padding-left:15px;
																						padding-right:15px
																						}}
																						@media (min-width: 414px){
																							.header2>div a,.header2>div .icon-nav{
																								padding-left:20px;
																								padding-right:20px
																								}}
																								@media (min-width: 768px){
																									.header2>div a,.header2>div .icon-nav{
																										margin:0 20px
																										}}
																										@media (min-width: 800px){
																											.header2>div a,.header2>div .icon-nav{
																												margin:0 35px
																												}}
																												.header2>div .icon-nav>svg{
																													width:26px;height:26px
																													}
																													.header>div .icon-nav>i{
																														font-size:26px
																														}
																														@media (max-width: 640px){
																															.header2.scrolls2{
																																padding:15px 0
																																}
																																.header.scrolls2.scrolled2{
																																	padding:10px 0 !important
																																	}
																																	.header2>div a,.header2>div .icon-nav{
																																		font-size:14px
																																		}}
																																		.header2.basic{
																																			padding:0;
																																			border-bottom:1px solid #eee
																																			}
																																			.header2.basic>div{
																																				padding:20px;
																																				text-align:initial;
																																				max-width:none;
																																				position:relative
																																				}
																																				.header2.basic>div .back-button{
																																					display:inline-block;
																																					color:#888;
																																					font-weight:600;
																																					font-size:13px;
																																					letter-spacing:0.5px;
																																					padding:0;
																																					margin:0;
																																					border-radius:0;
																																					border-right:1px solid #ddd;
																																					padding-right:16px;
																																					margin-right:16px;
																																					vertical-align:middle
																																					}
																																					.header2.basic>div .back-button i{
																																						font-size:17px;
																																						margin-right:4px
																																						}
																																						.header2.basic>div .back-button>span{
																																							position:relative;top:-1px}.header2.basic>div .icon{height:30px;width:30px}.header2.basic>div .page-title{text-transform:none;color:#444;margin:0;margin-left:12px;padding:0;font-weight:600}@media (prefers-color-scheme: dark){.basic{border-bottom:none !important}.header2{position:fixed;top:0;width:100%;z-index:100;background:#191919 !important}.header2.scrolls{background:#191919;-webkit-backdrop-filter:blur(0);backdrop-filter:blur(0);transition:0.8s cubic-bezier(0.2, 0.8, 0.2, 1)}.header2.scrolls.scrolled{padding:15px 0;color:#fff;background:#2cb1be !important}}@media (prefers-color-scheme: dark){.page-title{color:#fff !important}}.scrolled .icon-nav svg{fill:#fff}footer{background:#fff;text-align:center}footer .section{padding:20px 0;border-bottom:1px solid #eee;max-width:800px;margin:0 auto}footer .section:last-child{border-bottom:none}footer .links{list-style:none;font-size:16px;font-weight:600;white-space:nowrap;overflow-x:auto;-webkit-overflow-scrolling:touch}footer .links>li{display:inline-block}footer .links>li>a{margin:0 16px}footer p{color:#555;font-weight:500;font-size:15px;margin:3px 0}footer p.credit{color:#919196;font-weight:400;font-size:11px;padding-left:5px;padding-right:5px}footer p a{color:#2CB1BE;font-weight:500}@media (prefers-color-scheme: dark){footer{background:#191919 !important}footer .section{border-bottom:1px solid #111111}}.brand-colours.twitter{color:#5da8dc !important}.brand-colours.reddit{color:#ff4500 !important}.header2-img{display:block;height:50vh;max-height:400px;width:100%;background:#ddd center/cover no-repeat;border-bottom:1px solid #dedede}.articles>a>div>h1,article>h1{font-weight:600;font-size:3rem;overflow-wrap:break-word}.articles>a>div .subhead,article .subhead{display:block;color:#aaa;font-size:14px;text-transform:uppercase;letter-spacing:0.4px;font-weight:600;margin-bottom:6px}.articles>a>div .author,article .author{color:#888;font-weight:500;font-size:17px}.articles>a>div .content,article .content{margin-top:20px;color:#555}.articles>a>div .content h2,article .content h2{margin-top:24px;margin-bottom:12px}.articles>a>div .content hr,article .content hr{margin:2rem 0;border-top-color:rgba(0,0,0,0.05)}.articles>a>div .content img,article .content img{max-width:100%;margin:8px 0}.article-share{margin:20px 0}.article-share a{font-size:20px;margin-right:4px}.articles>a{margin-bottom:30px;display:block}.articles>a:last-child{margin-bottom:0}.articles>a>div .subhead{font-size:12px;margin-bottom:4px}.articles>a>div>h2{font-size:23px;font-weight:600}.articles>a>div p{color:#666;margin-top:8px}@media (prefers-color-scheme: dark){.articles>a>div .content,article .content{color:#cccccc}.header2-img{border-bottom:1px solid #111111}}@media (prefers-color-scheme: dark){h1{color:#ffffff}body{color:#ffffff}#content{background-color:#111111}}

